<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SeleniumJava.Hybridframework">
	<listeners>
		<listener class-name="framework.utilities.Reporting"></listener>
	</listeners>

	<test name="Test on chrome">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="framework.testCases.crowdRuns.DistanceBasedCrowdRun" />
			<class name="framework.testCases.crowdRuns.TimeBasedRun" />

		</classes>
	</test> <!-- Test1 -->

</suite> 